body {
    background-color: floralwhite !important;
    text-align: center;
}

.main {
    position: relative;
    margin: 2em auto;
    padding: 0.3em 2em 2em 2em;
    text-align: center;
    background-color: peachpuff;
    display: inline-block;
    border-radius: 15px;
    box-sizing: border-box;
    border: 10px solid chocolate;
    max-width: 800px;
}

.counters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.counter {
    text-align: center;
    width: 200px;
    border: 1px solid chocolate;
    border-radius: 15px;
    position: relative;
    margin: 1em;
}

.counter legend { font-weight: bold; }

.counter legend:hover { cursor: pointer; }


button:focus {
    outline-color: chocolate;
}

button:hover {
    cursor: pointer;
}

button {
    background-color: lightsalmon;
    border-radius: 5px;
    border: 1px solid chocolate;
}

fieldset.add-new-counter button {
    width: 75px;
    height: 75px;
    font-size: xx-large;
    font-weight: bold;
    color: saddlebrown;
    margin: 20px 0;
}

fieldset.add-new-counter legend {
    cursor: default !important;
}

.counter button.count {
    margin: 1em;
    width: 40px;
    height: 40px;
    font-size: large;
}

.counter button.reset {
    display: inline-block;
    padding: 0.3em;
    margin: 1em 1em 0 1em;
}

.counter button.delete {
    position: absolute;
    right: -5px;
    top: 3px;
    background-color: lightsalmon;
    border-radius: 5px;
    border: 1px solid chocolate;
    display: block;
    padding: 0.1em 0.3em;
    font-weight: bold;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

